.icon-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--grey);
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
}

.icon-row__icon i {
    font-size: 35px;
    margin-bottom: 20px;

}
.icon-row__icon span {
    text-align: center;
}
